@font-face {
  font-family: Inter-Variable;
  src:
    /* stylelint-disable-next-line value-keyword-case */
    local(Inter-Variable),
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations'); /* Для поддержки старых браузеров: Chrome 62-, Firefox 59- и Opera 52 */
  /* font-weigh - диапазон необязателен, но если вдруг ошиблись, то браузер подставит ближайшее значение из диапазона */
  font-weight: 400 785;
  /* swap — задаёт очень короткий (менее 100 миллисекунд) период блокировки и бесконечный период замены.
    При такой стратегии браузер практически сразу отображает текст запасным шрифтом,
    а затем, когда подгружён нужный шрифт, переключается на него */
  font-display: swap;
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src:
    local('PressStart2P-Regular'),
    url(./PressStart2P-Regular.woff) format('woff');
  font-weight: 400;
  font-display: swap;
}
